:root {
    --primary-color: #2c3e50;
    --text-color: #2c3e50;
    --form-bg-color: rgba(255, 255, 255, 0.9);
}
body, html {
    height: auto;
    min-height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
}
body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.logo {
    max-width: 7rem;
    height: auto;
    margin-right: 1rem;
}
h1 {
    font-size: 2.5rem;
    color: white;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
.slogan {
    font-size: 1.2rem;
    color: white;
    margin-top: 0.25rem;
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}
.content {
    display: flex;
    gap: 1rem 4rem;
    flex-grow: 1;
}
.form-container, .results-container {
    flex: 1;
    background-color: var(--form-bg-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.form-container {
    height: 40rem;
    overflow-y: auto; 
}
.form-wrapper {
    padding: 1rem 1.5rem;
}
.results-container {
    background-color: transparent;
    box-shadow: none;
    overflow-y: visible;
}
h2 {
    font-size: 1.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-top: 0.75rem;
    color: var(--text-color);
    font-weight: bold;
}
input, textarea {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #3a506b;
}
#welcome-card {
    background-color: var(--form-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 0rem 1.5rem 1rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
#status-card {
    background-color: var(--form-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
.job-card {
    background-color: var(--form-bg-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}
.job-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.progress-bar {
    background-color: 	#d3d3d3;
    height: 8px;
    border-radius: 4px;
    margin-top: 0.75rem;
    overflow: hidden;
}
.progress {
    background-color: var(--primary-color);
    height: 100%;
    border-radius: 4px;
    transition: width 0.5s ease-in-out;
}
.adsense-container {
    margin-top: 1.5rem;
    background-color: #eee;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}